<div class="container-fluid" style="padding-left: 0px; padding-right: 0px;">
    <app-header (menuEvent)=onMenuAction($event)></app-header>
    <div >
        <app-transactions *ngIf="loadedFeature === 'transactions'"></app-transactions> 
        <app-transactions-types *ngIf="loadedFeature === 'transactionsTypes'"></app-transactions-types>
        <app-new-transaction *ngIf="loadedFeature === 'newTransaction'"></app-new-transaction>
    </div>
</div>


