<div class="form-group">
  <label for="date">Date:</label>
  <input type="date" class="form-control" id="date" [(ngModel)]="transaction.date">
</div>
<div class="form-group">
  <label for="description">Description:</label>
  <textarea class="form-control" rows="5" id="description" [(ngModel)]="transaction.description"></textarea>
</div>
<div class="form-group">
  <label for="type">Type:</label>
  <select class="form-control" id="type" [(ngModel)]="transaction.transactionType">
    <option *ngFor="let transactionType of transactionTypes" [ngValue]="transactionType">{{transactionType.name}}</option>
  </select>
</div>
<div class="form-group">
  <label>Value:</label>
  <input type="text" class="form-control" [(ngModel)]="transaction.value">
  {{transaction.value}}
</div>
<button class="btn btn-default" (click)="onAddTransaction()">Create</button>
