<div class="row justify-content-md-center">
  <div class="col-md-1">
    <a href="#" (click)="onAddTransactionType()">+</a>
    <input type="text" class="form-control" [(ngModel)]="transactionType.name" >
  </div>
</div>
  
<div class="row justify-content-md-center">
  <div class="col-md-1">
    <ul class="list-group">
      <li 
        class="list-group-item" 
        *ngFor="let transactionType of transactionsTypes">
          {{transactionType.name}}
          <a href="#" class="pull-right" (click)="onEditTransactionType(transactionType)">
            Edit
          </a>
          <a href="#" class="pull-right" (click)="onDeleteTransactionType(transactionType)">
              Remove
          </a>
      </li>
    </ul>
  </div>
</div>



