<div class="col-md-12" style="padding-left: 0px; padding-right: 0px;">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Description</th>
        <th>Type</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of transactions">
        <td>{{ transaction.date | date: 'dd/MM'}}</td>
        <td>{{ transaction.description }}</td>
        <td>{{ transaction.transactionType.name }}</td>
        <td>{{ transaction.value }}</td>
        <td>
          <a href="#" (click)="onEditTransaction(transaction)">
            E
          </a>
          <a href="#" (click)="onDeleteTransaction(transaction)">
              R
          </a>
        </td>
      </tr> 
    </tbody>
  </table>
</div>
